{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'user/styles/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <title>Catch Cunning</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/64760829c9.js" crossorigin="anonymous"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
</head>

<body>

    {% block content %}

    {% endblock %}
    
    <canvas id="canvas" hidden></canvas>

    <footer>
        <div class="page-footer">
            <a href="https://github.com/Non-face-to-face-examination-platform" target="_blank">
                <i class="fa-brands fa-github fa-lg"></i>
                Github</a>
            <span>팀명 : 소개팅 나갈 사람</span>
            <span>만든사람 : 김두현, 원준영, 최재혁</span>
            <span>Special Thanks to 김재현</span>
        </div>
    </footer>

</body>

<script type="text/javascript" src="{% static 'user/js/screenCapture.js' %}"></script>

</html>