{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catch Cunning</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'meeting/styles/main.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/64760829c9.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>

  <body>
    <button class="outside-nav" id="capture-btn" type="button">
      <i class="fa-solid fa-camera"></i> 화면캡처
    </button>

    <section id="form-container">
      <i class="fa-solid fa-video" id="logo"></i>
      <div id="welcome-message">
        <h1>이곳은 로비입니다.</h1>
        <p>
          시작 전 시험에 응시할 준비를 해주시기 바랍니다.<br />
          문제 불러오기 버튼을 눌러서 문제를 다운로드합니다.<br />
          문제를 불러오고 Join Stream을 눌러 시험장에 입장하세요.
        </p>
      </div>
      {% if user.superintendent == 0 %}
      <!-- 응시자 로그인 -->

      

      <form id="form">
        <div class="field-wrapper">
          <div class="form-field">
            <input
              name="room"
              value="{{room_name}}"
              placeholder="Enter a room name..."
              style="text-transform: uppercase"
              hidden
            />
          </div>
          <div class="form-field">
            <input
              name="name"
              value="{{user.nickname}}"
              placeholder="Enter your name..."
              style="text-transform: uppercase"
              hidden
            />
          </div>

          <div class="form-field">
            <button type="submit" class="lby-btn" id="join-btn">
              Join Stream
            </button>
          </div>
        </div>
      </form>
      <script>
        const form = document.getElementById("form");

        let handleSubmit = async (e) => {
          e.preventDefault();
          let room = e.target.room.value.toUpperCase();
          let name = e.target.name.value;

          let response = await fetch(`/meeting/get_token/?channel=${room}`);
          let data = await response.json();

          let UID = data.uid;
          let token = data.token;

          sessionStorage.setItem("UID", UID);
          sessionStorage.setItem("token", token);
          sessionStorage.setItem("room", room);
          sessionStorage.setItem("name", name);

          window.open("/meeting/room/", "_self");
        };

        form.addEventListener("submit", handleSubmit);
      </script>
      <script>
        const pullQuestionsBtn = document.getElementById("pull-questions");
        const joinBtn = document.getElementById("join-btn");

        console.log("{{presence}}");
        console.log("{{user.testPath}}");
        console.log("시발");

        pullQuestionsBtn.addEventListener("click", (e) => {
          e.preventDefault();
          if ("{{presence}}" == 1) {
            console.log("hi");
            joinBtn.removeAttribute("disabled");
            joinBtn.classList.remove("disabled");
          }
        });
      </script>
      {% else %}
      <!-- 감독관 로그인 -->
      <form id="supervisorForm">
        <div class="field-wrapper">
          <div class="form-field">
            <input
              name="room"
              value="{{room_name}}"
              placeholder="Enter a room name..."
              style="text-transform: uppercase"
            />
          </div>
          <div class="form-field">
            <input
              name="name"
              value="{{user.nickname}}"
              placeholder="Enter your name..."
              style="text-transform: uppercase"
            />
          </div>
          <div class="form-field">
            <button type="submit" class="lby-btn" id="join-btn">
              Join Stream
            </button>
          </div>
        </div>
      </form>
      <script>
        const supervisorForm = document.getElementById("supervisorForm");

        let supervisorHandleSubmit = async (e) => {
          e.preventDefault();
          let room = e.target.room.value.toUpperCase();
          let name = e.target.name.value;

          let response = await fetch(`/meeting/get_token/?channel=${room}`);
          let data = await response.json();

          let UID = data.uid;
          let token = data.token;

          sessionStorage.setItem("UID", UID);
          sessionStorage.setItem("token", token);
          sessionStorage.setItem("room", room);
          sessionStorage.setItem("name", name);

          window.open("/meeting/supervisor_room/", "_self");
        };

        supervisorForm.addEventListener("submit", supervisorHandleSubmit);
      </script>
      {% endif %}
    </section>

    <video id="video" autoplay></video>
  </body>

  <script>
    const video = document.getElementById("video");

    if (navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices
        .getUserMedia({ video: true })
        .then((stream) => {
          video.srcObject = stream;
        })
        .catch((err) => {
          console.error(err);
        });
    }
  </script>
  <script
    type="text/javascript"
    src="{% static 'user/js/screenCapture.js' %}"
  ></script>
</html>
