{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lobby</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'meeting/styles/main.css' %}"
    />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <video id="video" autoplay></video>

    <section id="form-container">
      <img id="logo" src="{% static 'meeting/images/chat-icon.svg' %}" />
      <div id="welcome-message">
        <h1>이곳은 로비입니다.</h1>
        <p>
          시작 전 시험에 응시할 준비를 해주시기 바랍니다.<br />
          준비를 마쳤다면 아래 버튼을 눌러 시험장에 입장하세요.
        </p>
      </div>
      {% if user.superintendent == 0 %}
      <!-- 응시자 로그인 -->
      <form id="form">
        <div class="field-wrapper">
          <div class="form-field">
            <input
              name="room"
              value="{{room_name}}"
              placeholder="Enter a room name..."
              style="text-transform: uppercase"
              hidden
            />
          </div>
          <div class="form-field">
            <input
              name="name"
              value="{{user.nickname}}"
              placeholder="Enter your name..."
              style="text-transform: uppercase"
              hidden
            />
          </div>

          <div class="form-field">
            <input type="submit" value="Join Stream" class="submit-btn"/>
          </div>
        </div>
      </form>
      <script>
        const form = document.getElementById("form");

        let handleSubmit = async (e) => {
          e.preventDefault();
          let room = e.target.room.value.toUpperCase();
          let name = e.target.name.value;

          let response = await fetch(`/meeting/get_token/?channel=${room}`);
          let data = await response.json();

          let UID = data.uid;
          let token = data.token;

          sessionStorage.setItem("UID", UID);
          sessionStorage.setItem("token", token);
          sessionStorage.setItem("room", room);
          sessionStorage.setItem("name", name);

          window.open("/meeting/room/", "_self");
        };

        form.addEventListener("submit", handleSubmit);
      </script>
      {% else %}
      <!-- 감독관 로그인 -->
      <form id="supervisorForm">
        <div class="field-wrapper">
          <div class="form-field">
            <input
              name="room"
              value="{{room_name}}"
              placeholder="Enter a room name..."
              style="text-transform: uppercase"
            />
          </div>
          <div class="form-field">
            <input
              name="name"
              value="{{user.nickname}}"
              placeholder="Enter your name..."
              style="text-transform: uppercase"
            />
          </div>
          <div class="form-field">
            <input type="submit" value="Join Stream"  class="submit-btn"/>
          </div>
        </div>
      </form>
      <script>
        const supervisorForm = document.getElementById("supervisorForm");

        let supervisorHandleSubmit = async (e) => {
          e.preventDefault();
          let room = e.target.room.value.toUpperCase();
          let name = e.target.name.value;

          let response = await fetch(`/meeting/get_token/?channel=${room}`);
          let data = await response.json();

          let UID = data.uid;
          let token = data.token;

          sessionStorage.setItem("UID", UID);
          sessionStorage.setItem("token", token);
          sessionStorage.setItem("room", room);
          sessionStorage.setItem("name", name);

          window.open("/meeting/supervisor_room/", "_self");
        };

        supervisorForm.addEventListener("submit", supervisorHandleSubmit);
      </script>
      {% endif %}
    </section>
  </body>

  <script>
    const video = document.getElementById("video");

    if (navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices
        .getUserMedia({ video: true })
        .then((stream) => {
          video.srcObject = stream;
        })
        .catch((err) => {
          console.error(err);
        });
    }
  </script>
</html>
