<!DOCTYPE html>
{% load static %} {% block content %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supervisor Room</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'meeting/styles/main.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'meeting/styles/exam.css' %}"
    />
    <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
    <script
      src="https://kit.fontawesome.com/64760829c9.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
  </head>
  <body>
    <section id="video-streams"></section>

    <div class="nav-bar">
      <div class="nav-bar-text">
        <section id="room-name-wrapper">
          <p>Supervisor Room</p>
          <p>Room Name: <span id="room-name"></span></p>
        </section>
      </div>
      <div><h2 id="clock"></h2></div>
      <div class="nav-bar-text">
        <button class="inside-nav" id="capture-btn" type="button">
          <i class="fa-solid fa-camera"></i> 화면캡처
        </button>
      </div>
    </div>

    <section id="controls-wrapper">
      <div class="icon-wrapper">
        <img
          class="control-icon"
          id="mic-btn"
          src="{% static 'meeting/images/microphone.svg' %}"
        />
      </div>

      <div class="icon-wrapper">
        <img
          class="control-icon"
          id="camera-btn"
          src="{% static 'meeting/images/video.svg' %}"
        />
      </div>

      <div class="icon-wrapper">
        <img
          class="control-icon"
          id="leave-btn"
          src="{% static 'meeting/images/leave.svg' %}"
        />
      </div>

      <div class="icon-wrapper">
        <img
          class="control-icon"
          id="detecting"
          src="{% static 'meeting/images/detect.svg' %}"
        />
      </div>
    </section>

    <div
      id="log"
      style="
        text-align: center;
        margin: auto;
        width: 1280px;
        height: 360px;
        background-color: white;
      "
    >
      로그창
    </div>

    <!-- <canvas
      id="canvas"
      style="position: relative; text-align: center; left: 300px"
    ></canvas> -->
  </body>
  <script
    type="text/javascript"
    src="{% static 'user/js/screenCapture.js' %}"
  ></script>
  <script
    type="text/javascript"
    src="{% static 'meeting/assets/AgoraRTC_N-4.8.0.js' %}"
  ></script>
  <script
    type="text/javascript"
    src="{% static 'meeting/js/streams.js' %}"
  ></script>
  <script
    type="text/javascript"
    src="{% static 'meeting/js/clock.js' %}"
  ></script>
  <script
    type="text/javascript"
    src="{% static 'meeting/js/poseNet.js' %}"
  ></script>
  {% endblock content %}
</html>
