<!-- <navbar>
    {% if user.is_authenticated %}
        <a href="{% url 'account_logout' %}">로그아웃</a> 
    {% else %}
        <a href="{% url 'account_login' %}">로그인</a>
        <a href="{% url 'account_signup' %}">회원가입</a>
    {% endif %}
</navbar>

<h1>홈페이지</h1>
{% if user.is_authenticated %}
       <p>안녕하세요!, {{user}}님!({{user.nickname}})</p>
       {% if user.superintendent %} 
       <div>
            <input type="text" class="form-control" id="roomid" value="..." disabled>
            <button class="cp-button" onclick="change()">방 코드 생성</button>
            <script type="text/javascript">
                function change(){
                    document.getElementById('roomid').value="{{roomId}}";
                }
            </script>
        </div>
            <input type="file" id="fileUpload" accept='image/*' />
            
       {% else %}
       <form method="post">
        {% csrf_token %}
            <div>
                room ID: <INPUT TYPE = "TEXT" NAME = "roomId" SIZE="20">
                <button class="cp-button" type="submit" value="Join Stream">입장</button>
            </div>
        </form>

       {% endif %}
       <p><a href="{% url 'account_change_password' %}">비밀번호 변경</a></p>
{% else %}
       <p>로그아웃된 상태입니다.</p>
{% endif %}
  -->
<!-- <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/style.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
     <script src="https://kit.fontawesome.com/64760829c9.js" crossorigin="anonymous"></script>
     <title>Applicant Page | Catch Cunning</title>
 </head>
 <body>
     <h1 id="applicant-title">시험장에 입장하기 전에...</h1>
     <div class="prescript">
         <div id="caution">
             <i class="fa-solid fa-triangle-exclamation"></i>
             <h3 style="font-size: 40px; text-align: center;"> 주의 사항 </h3>
             <i class="fa-solid fa-triangle-exclamation"></i>
         </div>
         <p style="font-size: 25px;">
             부정행위 하지마<br>
             컨닝하지마<br>
             부정행위 감지되면 시험 종료됨!
         </p>
     </div>
     <form>
         <div class="assent">
             <input type="checkbox" id="agree_to_prescript">
             <label for="agree_to_prescript">위 주의사항을 숙지하였습니다.</label>
         </div>
         <input type="text" id="enter_room" placeholder="방 입장 코드를 입력하세요.">
         <button disabled id="join" class="hidden" >시험장 입장</button>
     </form>
     <footer>
         <div class="page-footer">
             <a href='https://github.com/Non-face-to-face-examination-platform' target='_blank'>
                 <i class="fa-brands fa-github fa-lg"></i>
                  Github</a>
             <span>팀명 : 소개팅 나갈 사람</span>
             <span>만든사람 : 김두현, 원준영, 최재혁</span>
             <span>Special Thanks to  김재현</span>
         </div>
     </footer>
 </body>
 <script>
     const isAssented = document.getElementById("agree_to_prescript");
     const joinBtn = document.getElementById("join");
 
     isAssented.addEventListener('change', () =>{
         if(isAssented.checked){
             joinBtn.removeAttribute('disabled');
             joinBtn.classList.remove("hidden");
         }
         else{
             joinBtn.setAttribute('disabled', "");
             joinBtn.classList.add("hidden");
         }});
 
 </script>
 </html> -->

{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'user/styles/style.css' %}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/64760829c9.js"
      crossorigin="anonymous"
    ></script>
    <title>Catch Cunning</title>
  </head>

  <body>
    <h1 id="main-welcome">Welcome to</h1>
    <h1 class="main-title">Catch Cunning</h1>
    <h2>Non Face-to-Face Examination Platform</h2>
    <div id="main-buttons">
      <button type="button" onclick="location.href='login/'">Login</button>

      <button type="button" onclick="location.href='signup/'">Sign Up</button>
    </div>
    <footer>
      <div class="page-footer">
        <a
          href="https://github.com/Non-face-to-face-examination-platform"
          target="_blank"
        >
          <i class="fa-brands fa-github fa-lg"></i>
          Github</a
        >
        <span>팀명 : 소개팅 나갈 사람</span>
        <span>만든사람 : 김두현, 원준영, 최재혁</span>
        <span>Special Thanks to 김재현</span>
      </div>
    </footer>
  </body>
</html>
