{% extends 'base.html'%}

{% block content %}

<div class="nav-bar">
    <div class="nav-bar-text">
        <a class="nav-items" href="{% url 'account_logout' %}">로그아웃</a>
        <span> | </span>
        <a class="nav-items" href="{% url 'account_change_password' %}">비밀번호 변경</a>
    </div>
    <div><a class="nav-items" id="title-logo" href="{% url 'index' %}">Catch Cunning</a></div>
    <div class="nav-bar-text">
        <button class="inside-nav" id="capture-btn" type="button"><i class="fa-solid fa-camera"></i> 화면캡처</button>
        <span style="font-size: 24px;">{{user.nickname}}</span>
        <span>님 반갑습니다.</span>
    </div>
</div>

{% if user.superintendent == 0 %}

<h1 class="title">시험장에 입장하기 전에...</h1>
<div class="prescript">
    <div id="caution">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <h3 style="font-size: 40px; text-align: center;"> 주의 사항 </h3>
        <i class="fa-solid fa-triangle-exclamation"></i>
    </div>
    <p style="font-size: 25px;">
        부정행위 하지마<br>
        컨닝하지마<br>
        부정행위 감지되면 시험 종료됨!
    </p>
</div>
<form id="user_form" method="POST" action="{% url 'meeting:' %}">
    {% csrf_token %}
    <div class="assent">
        <input type="checkbox" id="agree_to_prescript">
        <label for="agree_to_prescript">위 주의사항을 숙지하였습니다.</label>
    </div>
    <input disabled type="text" id="enter_room" name="enter_room" placeholder="방 입장 코드를 입력하세요.">
    <input type="text" name="{{user.nickname}}" hidden>
    <button disabled type="submit" id="join" class="hidden">시험장 입장</button>
</form>
<script>
    const isAssented = document.getElementById("agree_to_prescript");
    const joinBtn = document.getElementById("join");
    const inputCode = document.getElementById("enter_room");
    const user_form = document.getElementById("user_form");

    isAssented.addEventListener('change', () => {
        if (isAssented.checked) {
            joinBtn.removeAttribute('disabled');
            inputCode.removeAttribute('disabled');
            joinBtn.classList.remove("hidden");
        }
        else {
            joinBtn.setAttribute('disabled', "");
            inputCode.setAttribute('disabled', "");
            joinBtn.classList.add("hidden");
        }
    });
</script>

{% else %}

<h2 class="title">환영합니다, 감독관님!</h2>
<div class="super-setting">
    <div style="position: relative;">
        <input id="random_code" readonly placeholder="방 입장 코드가 여기에 생성됩니다." value="임시코드">
        <button id="copy-btn"><i class="fa-regular fa-copy fa-xl" onclick="copy_to_clipboard()"></i></button>

        <button type="button" onclick="change()">코드 생성</button>
        <script type="text/javascript">
            function change() {
                document.getElementById('random_code').value = "{{roomId}}";
            }
        </script>
    </div>
    <form method="POST" action="{% url 'upLoad' %}" enctype="multipart/form-data"
        style="display: flex; position:relative">
        {% csrf_token %}

        <div class="preview">업로드할 문제 파일을 선택하세요.</div>
        <label for="question_uploads" id="file-search-btn"><i class="fa-regular fa-image fa-2xl"></i></label>
        <input type="text" id="room_id" name="room_id" value="{{roomId}}" hidden>
        <input type="file" id="question_uploads" name="question_uploads" accept=".jpg, .jpeg, .png" multiple hidden>
        <button type="submit" style="margin-left: 5px;">파일 업로드</button>
    </form>
    <div>
        <form id="supervisor_form" method="POST" action="{% url 'meeting:' %}">
            {% csrf_token %}
            <input type="text" id="create_room" name="create_room" placeholder="방 입장 코드를 입력하세요.">
            <button type="submit">방 생성하기</button>
        </form>
    </div>
</div>

<script>
    function copy_to_clipboard() {
        const copyText = document.getElementById('random_code');
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("Copy");
        alert('클립보드에 방 입장 코드가 복사되었습니다.');
    }
</script>
<script>
    const input = document.querySelector('#question_uploads');
    const preview = document.querySelector('.preview');

    input.style.opacity = 0;
    input.addEventListener('change', updateImageDisplay);

    function updateImageDisplay() {
        preview.innerText = "";

        const curFiles = input.files;
        if (curFiles.length === 0) {
            preview.textContent = '문제 파일이 선택되지 않았습니다.';
        } else {
            for (let i = 0; i < curFiles.length; i++) {
                preview.textContent = `${preview.textContent} ${curFiles.item(i).name}`;
            }
        }
    }
</script>

{% endif %}

{% endblock %}