{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'user/styles/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/64760829c9.js" crossorigin="anonymous"></script>
    <title>Login | Catch Cunning</title>
</head>
<body>
    <div class="nav-bar" style="justify-content: center;">
      <div><a class="nav-items" id="title-logo" href="{% url 'index' %}">Catch Cunning</a></div>
    </div>
    <h1 class="main-title">Catch Cunning</h1>
    <form method="post">
      {% csrf_token %}

      {% for error in form.non_field_errors %}
        <div class="form-error error-message">{{ error }}</div>
      {% endfor %}

        <div class="login-forms">
          {{ form.login|add_class:"cp-input"|attr:"placeholder:이메일"|add_error_class:"error" }}
          {% for error in form.login.errors %}
            <div class="form-error error-message">{{ error }}</div>
          {% endfor %}
          {{ form.password|add_class:"cp-input"|attr:"placeholder:비밀번호"|add_error_class:"error" }}       
          {% for error in form.password.errors %}
            <div class="form-error error-message">{{ error }}</div>
          {% endfor %}
            
            <button type="submit">Login</button>
        </div>
    </form>
    <div class="info">
        <a class="item" href="{% url 'account_reset_password' %}">비밀번호 찾기</a>
        <span class="item"> | </span>
        <a class="item" href="{% url 'account_signup' %}">회원가입</a>
    </div>
    <footer>
        <div class="page-footer">
            <a href='https://github.com/Non-face-to-face-examination-platform' target='_blank'>
                <i class="fa-brands fa-github fa-lg"></i>
                 Github</a>
            <span>팀명 : 소개팅 나갈 사람</span>
            <span>만든사람 : 김두현, 원준영, 최재혁</span>
            <span>Special Thanks to  김재현</span>
        </div>
    </footer>
</body>
</html>
