{% extends 'base.html' %}

{% block content %}

    <div class="nav-bar">
      <div class="nav-bar-text">
        <a class="nav-items" href="{% url 'account_logout' %}">로그아웃</a>
        <span> | </span>
        <a class="nav-items" href="{% url 'account_change_password' %}">비밀번호 변경</a>
      </div>
      <div><a class="nav-items" id="title-logo">Catch Cunning</a></div>
      <div class="nav-bar-text">
        <button class="inside-nav" id="capture-btn" type="button">
          <i class="fa-solid fa-camera"></i> 화면캡처
        </button>
        <span style="font-size: 24px">{{user.nickname}}</span>
        <span>님 반갑습니다.</span>
      </div>
    </div>

    <h2 class="title">비밀번호 변경</h2>
    <form method="post">
      {% csrf_token %}
      <div class="pwchange-forms">
        {{ form.oldpassword|add_class:"cp-input"|attr:"placeholder:현재
        비밀번호"|add_error_class:"error" }} {% for error in
        form.oldpassword.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %} {{ form.password1|add_class:"cp-input"|attr:"placeholder:새
        비밀번호"|add_error_class:"error" }} {% for error in
        form.password1.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %} {{ form.password2|add_class:"cp-input"|attr:"placeholder:새
        비밀번호 확인"|add_error_class:"error" }} {% for error in
        form.password2.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
        <button type="submit">완료</button>
      </div>
    </form>

{% endblock %}