{% load static %} {% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'user/styles/style.css' %}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <title>Password Change | Catch Cunning</title>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script
      src="https://kit.fontawesome.com/64760829c9.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="nav-bar">
      <div class="nav-bar-text">
        <a class="nav-items" href="{% url 'account_logout' %}">로그아웃</a>
        <span> | </span>
        <a class="nav-items" href="{% url 'account_change_password' %}"
          >비밀번호 변경</a
        >
      </div>
      <div><a class="nav-items" id="title-logo">Catch Cunning</a></div>
      <div class="nav-bar-text">
        <button class="inside-nav" id="capture-btn" type="button">
          <i class="fa-solid fa-camera"></i> 화면캡처
        </button>
        <span style="font-size: 24px">{{user.nickname}}</span>
        <span>님 반갑습니다.</span>
      </div>
    </div>

    <h2 class="title">비밀번호 변경</h2>
    <form method="post">
      {% csrf_token %}
      <div class="pwchange-forms">
        {{ form.oldpassword|add_class:"cp-input"|attr:"placeholder:현재
        비밀번호"|add_error_class:"error" }} {% for error in
        form.oldpassword.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %} {{ form.password1|add_class:"cp-input"|attr:"placeholder:새
        비밀번호"|add_error_class:"error" }} {% for error in
        form.password1.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %} {{ form.password2|add_class:"cp-input"|attr:"placeholder:새
        비밀번호 확인"|add_error_class:"error" }} {% for error in
        form.password2.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
        <button type="submit">완료</button>
      </div>
    </form>
    <footer>
      <div class="page-footer">
        <a
          href="https://github.com/Non-face-to-face-examination-platform"
          target="_blank"
        >
          <i class="fa-brands fa-github fa-lg"></i>
          Github</a
        >
        <span>팀명 : 소개팅 나갈 사람</span>
        <span>만든사람 : 김두현, 원준영, 최재혁</span>
        <span>Special Thanks to 김재현</span>
      </div>
    </footer>
  </body>
  <script
    type="text/javascript"
    src="{% static 'user/js/screenCapture.js' %}"
  ></script>
</html>
