{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="nav-bar" style="justify-content: center;">
  <div><a class="nav-items" id="title-logo" href="{% url 'index' %}">Catch Cunning</a></div>
</div>
<h2 class="title">계정을 생성합니다</h2>
<form method="post">
  {% csrf_token %}
    <div class="signup-forms">
      {{form.email|attr:"placeholder:이메일"|add_error_class:"error" }}
      {% for error in form.email.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
      {{form.nickname|attr:"placeholder:이름"|add_error_class:"error" }}
      {% for error in form.nickname.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
      {{form.password1|attr:"placeholder:비밀번호"|add_error_class:"error" }}
      {% for error in form.password1.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
      {{form.password2|attr:"placeholder:비밀번호 확인"|add_error_class:"error" }}
      {% for error in form.password2.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
      <div class="checkbox_div">
        {{form.superintendent|add_class:"check_if_supervisor"|attr:"name:"}}   감독관으로 회원가입
      </div>
        <button type="submit">Sign Up</button>
    </div>
</form>

{% endblock %}
